@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}
:root{
    --primaryColor: #343d68;
    --runningTextColor: #4e45d5;
    --bgOrange: #e84949;
}

#wrapper{
    width:100%;
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width:1200px;
    margin:0 auto;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1rem;
}
.logo{
    width:80px;
}
.logo-text{
    margin-left:-1.4rem;
    font-size: 28px;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.nav-items{
    display:flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-items div a{
    color:black;
}
a{
    text-decoration: none;
    /* color: black; */
}
.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;
}

.main{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;

    gap:5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.user-image{
    height:390px;
    width:345px;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.faded-text{
    user-select: none;
    font-size: 7rem;
    color:rgb(231,231,231);

    bottom: -16%;
    left:1%;
    font-weight: bold;
    transition: all 3s;
    position: absolute;
}
.main-section-left{
    max-width:600px;
    display:flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
}

.main-section-heading{
    font-size: 3rem;
    font-weight: bold;
    color: var(--primaryColor);
}

.role{
    color:var(--runningTextColor);
    font-weight: 800;
}
.main-section-subheading{
    font-size: 1.5rem;
    line-height: 2rem;
}
.main-section-description{
    margin-top:1rem;
    width:70%;
    font-weight: 500;
    font-size: 1.2rem;
    color: #555555;
    line-height: 1.8rem;
}

.btn {
    position: relative;
    width: 220px;
    height: 50px;
}

.btn a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    border: 2px solid var(--runningTextColor);
    background: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: 0.4s;
}

/* ===== CIRCLE ===== */
.circle {
    position: absolute;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--runningTextColor);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s;
}

/* ===== TEXT ===== */
.btn-title,
.btn-hover {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    transition: 0.4s;
}

.btn-title {
    color: var(--runningTextColor);
    opacity: 1;
}

.btn-hover {
    color: #fff;
    opacity: 0;
}

/* ===== HOVER EFFECT ===== */
.btn a:hover {
    background: var(--runningTextColor);
}

.btn a:hover .circle {
    left: calc(100% - 45px);
    background: #fff;
    color: var(--runningTextColor);
}

.btn a:hover .btn-title {
    opacity: 0;
}

.btn a:hover .btn-hover {
    opacity: 1;
}


.main-section-right{
    position:relative;
}
.absolute{
    position:absolute;
}

.user-image{
    padding: 1rem;
    filter:grayscale(1);
    transition: all 1s;
    animation: scaleImg 5s linear infinite;
}

.user-image img{
    z-index: -10;
}

@keyframes scaleImg{
    0%{
        filter:grayscale(0);
        transform:scale(1);
    }
    50%{
        filter:grayscale(1);
        transform:scale(1.1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        filter:grayscale(0);
        transform: scale(1);
    }
}

.icons{
    z-index: 1;
}
.icon-dots {
    bottom: -1rem;
    right:-5%; 
    animation: moveDots 4s linear infinite;
}
@keyframes moveDots{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.icon-cube{
    top: -1rem;
    right: 0;
    animation: rotateCube 5s linear infinite;
}
@keyframes rotateCube{
    0%{
        transform: rotateY(0deg)translateY(0px);
    }
    50%{
        transform: rotateY(360deg)translateY(-20px);
    }
    100%{
        transform: rotateY(0deg)translateY(0px);
    }
}
.icon-plus{
    top:-1rem;
    right: 50%;
    animation: movePlus 5s linear infinite;
}
@keyframes movePlus {
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(-15px) rotate(180deg);
    }
    100%{
        transform: translateY(0px) rotate(360deg);
    }
}
.icon-circle{
    bottom:0;
    left:0;
    animation: moveCircle 4s linear infinite;
}
@keyframes moveCircle {
    50%{
        left:5%;
        bottom: 10%;
    }
}
.icon-zigzag{
    top:0;
    left:-1em;
    animation: moveZigzag 3s linear infinite;
}
@keyframes moveZigzag {
    50%{
        left:2%;
        top: -2%;
    }
}